<template>
  <div>
    <v-layout row style="width:85%" mt-4>
      <v-flex sm2>
        <v-avatar color="teal" :size="64">
          <span class="white--text headline">{{shortName}}</span>
        </v-avatar>
      </v-flex>
      <v-flex ml-3>
        <p class="title">{{comment.authorId.fullName}}</p>
        <p v-if="!edit">{{comment.comment}}</p>
        <v-text-field
          v-if="edit" flat
          box v-model="updateCommentInput"
          ></v-text-field>
        <p class="right" v-if="!edit">
          <a>{{this.user.id}}</a>
          <a v-if="this.replies.length>0 && this.showComment==false" @click="commentTrigger">
            Check Comment(<span>{{this.replies.length>0?this.replies.length:0}}</span>)
          </a>
          <a v-if="this.showComment==true" @click="commentTrigger">
            Hide Comment
          </a>
          <a @click="doReply=true" class="ml-3">Reply</a>

          <a v-if="comment.authorId.id==this.$store.state.authState.id" class="ml-3" @click="()=>{this.edit=true}">
            Edit
          </a>

          <a v-if="comment.authorId.id==this.$store.state.authState.id" class="ml-3" @click="deleteComment(comment.id)">
            Delete
          </a>
        </p>

        <p class="right" v-if="edit">
          <a v-if="comment.authorId.id==this.$store.state.authState.id" class="ml-3" @click="()=>{this.edit=false}">
            Cancel
          </a>

          <a v-if="comment.authorId.id==this.$store.state.authState.id" class="ml-3" @click="updateComment(comment.id)">
            Update
          </a>
        </p>
      </v-flex>
    </v-layout>

    <transition name="slide-x-reverse-transition">
      <v-layout v-show="doReply">
        <v-flex sm2/>
        <v-flex sm9>
            <v-text-field
              label="Reply" box multi-line append-icon="send" v-model="replyInput"
              clear-icon="mdi-close-circle" :append-icon-cb="reply"
              append-outer-icon="close" :append-outer-icon-cb="closeReply"
            ></v-text-field>
          </v-flex>
      </v-layout>
    </transition>

    <transition name="slide-y-transition">
      <div v-show="this.showComment">
        <v-layout row mt-1 class="px-5" v-for="reply in replies">
          <v-flex sm2>
            <v-avatar color="teal" :size="64">
              <span class="white--text headline">{{reply.authorId.firstName.substring(0,1) + reply.authorId.lastName.substring(0,1)}}</span>
            </v-avatar>
          </v-flex>
          <v-flex ml-3>
            <p class="title">{{reply.authorId.fullName}}</p>
            <p v-if="!replyEdit">{{reply.comment}}</p>
            <v-text-field
              v-if="replyEdit" flat
              box v-model="updateCommentInput"
              ></v-text-field>
            <p class="right" v-if="!replyEdit">
              <a v-if="reply.authorId.id==$store.state.authState.id" class="ml-3" @click="()=>{replyEdit=true;updateCommentInput=reply.comment}">
                Edit
              </a>
              <a v-if="reply.authorId.id==$store.state.authState.id" class="ml-3" @click="deleteComment(reply.id)">
                Delete
              </a>
            </p>
            <p v-if="replyEdit" class="right">
              <a v-if="reply.authorId.id===$store.state.authState.id" class="ml-3" @click="()=>{replyEdit=false}">
                Cancel
              </a>

              <a v-if="reply.authorId.id===$store.state.authState.id" class="ml-3" @click="updateComment(reply.id)">
                Update
              </a>
            </p>
          </v-flex>
        </v-layout>
      </div>
    </transition>
  </div>
</template>

<script>
const api=require("../../utility/Api.js")
export default{
  data:()=>({
    doReply:false,replyInput:null,showComment:false,
    edit:false,updateCommentInput:null,replyEdit:false
  }),
  methods:{
    reply(){
      var data={comment:this.replyInput,mainComment:this.comment.id,stockId:this.comment.stockId}
      console.log(data)
      api.replyComment(data).then(response=>{
        this.refreshComment()
        this.$store.commit("displayAlert",{type:"success",message:"Comment is replied successfully."})
        this.doReply=false;this.replyInput=null
      }).catch(err=>{
        console.log(err)
      })
    },
    closeReply(){
      this.doReply=false
    },
    commentTrigger(){
      this.showComment=!this.showComment
    },
    deleteComment(id){
      api.deleteComment({commentId:id}).then(response=>{
        this.refreshComment()
        this.$store.commit("displayAlert",{type:"success",message:"Comment is deleted successfully."})
      })
    },
    updateComment(id,content){
      api.updateComment(id,{comment:this.updateCommentInput}).then(response=>{
        this.refreshComment()
        this.$store.commit("displayAlert",{type:"success",message:"Comment is updated successfully."})
        this.edit=false
        this.replyEdit=false
      }).catch(err=>{
        console.log(err)
      })
    }
  },
  watch:{
    edit:function(val){
      if (val){
        this.updateCommentInput=this.comment.comment
      }
    }
  },
  computed:{
    shortName:function(){
      return this.comment.authorId.firstName.substring(0,1)+ this.comment.authorId.lastName.substring(0,1)
    },
    replies:function(){
      if (this.comment.replies.length>0){
        return this.comment.replies
      }
      return []
    },
    user:function(){
      if (this.$store.authState){
        return this.$store.state.authState
      }
      return {}
    }
  },
  props:["comment","refreshComment"],
  created(){
    console.log(this.$store.state.authState.id)
  }
}
</script>
