<template>
  <v-layout row>
    <v-autocomplete
      v-model="selected"
      :items="items"
      :loading="isLoading"
      :search-input.sync="search"
      clearable :filter="v => v"
      hide-details hide-selected
      item-text="name" item-value="symbol"
      label="Search for a ticker..."
      solo
    >
      <template slot="no-data">
        <v-list-tile>
          <v-list-tile-title>
            Search for your favorite<strong> Stock</strong>
          </v-list-tile-title>
        </v-list-tile>
      </template>

      <template
        slot="selection"
        slot-scope="{ item, selected }"
      >
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          <v-icon left>mdi-coin</v-icon>
          <span v-text="item.name"></span>
        </v-chip>
      </template>

      <template
        slot="item"
        slot-scope="{ item }"
        @click="this.search=''"
      >
        <v-list-tile-avatar
          color="indigo"
          class="headline font-weight-light white--text"
        >
          {{ item.name.charAt(0) }}
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title v-text="item.name"></v-list-tile-title>
          <v-list-tile-sub-title v-text="item.symbol"></v-list-tile-sub-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-icon>mdi-coin</v-icon>
        </v-list-tile-action>
      </template>
    </v-autocomplete>

    <v-btn color="indigo darken-2" dark fab small @click="clickHandler">
      <v-icon dark>search</v-icon>
    </v-btn>
  </v-layout>
</template>

<script>
 /* eslint-disable */
  const api=require("../../utility/Api.js")
  export default{
    data:()=>({
      isLoading:false,
      search:null,
      items:[],
      selected:null
    }),
    watch: {
      search (val) {
        if (val && val.length > 0) {
          this.isLoading = true
          api.searchStockBySymbol(val).then(response=>{
            this.isLoading=false
            this.items=response.data.data?response.data.data:[]
          }).catch(err=>{
            console.log(err)
          })
        }
      }
    },
    methods:{
      clickHandler(){
        if(this.selected){
          this.$store.commit("clearStock")
          this.$store.commit("getStockChart",this.selected)
          this.$store.commit("getStockQuote",this.selected)
          this.$store.commit("getStockIndices",this.selected)
          this.$store.commit("getStockKeyStats",this.selected)
          this.$router.push("/stock/"+this.selected)
        }
      }
    }
  }
</script>
