<template>
    <v-data-table
      :headers="headers" expand
      :items="stocks?stocks:[]"
      :loading="stocks===null"
      class="elevation-1" disable-initial-sort
    >
      <template slot="no-data">
        <v-alert :value="stocks && stocks.length==0" color="error" icon="warning">
          Sorry, IEX could not provide us the data for now :(
        </v-alert>
      </template>
      <template slot="items" slot-scope="props">
        <tr class="news-card" @click="clickHandler(props.item)">
          <td>{{ props.item.symbol }}</td>
          <td class="text-xs-center">{{ props.item.latestVolume }}</td>
          <td class="text-xs-center">{{ props.item.latestPrice }}</td>
          <td class="text-xs-center">{{ props.item.change }}</td>
          <td class="text-xs-center">{{ (props.item.changePercent *100).toFixed(2)}}</td>
        </tr>
      </template>
    </v-data-table>
</template>

<script>
  export default{
    props:["headers","stocks"],
    methods:{
      clickHandler(stock){
        this.$store.commit("getStockKeyStats",stock.symbol)
        this.$store.commit("getStockChart",stock.symbol)
        this.$store.commit("getStockQuote",stock.symbol)
      }
    }
  }
</script>
