<template>
  <v-carousel
    v-if="this.$store.state.hotNewsList.length>0"
    interval=3000
    class="elevation-3 my-1 mb-3"
    reverse-transition="fade"
    transition="fade"
    height=347
  >
    <v-carousel-item
      v-for="news in this.$store.state.hotNewsList.slice(0,4)"
      class="news-card"
      style="position:relative;"
      v-on:click.native="handleClick"
    >
      <v-img
        class="white--text news-card-img"
        max-height style="height:100%"
        :src="news.urlToImage?news.urlToImage:'https://vignette.wikia.nocookie.net/heartskywarriorsfanmadeclans/images/4/47/Placeholder.png/revision/latest?cb=20160731055546'"
      >
      </v-img>
      <v-container fill-height fluid class="color-layer color-layer-background pl-0 pt-5 pr-5 pb-0 overflow-hidden">
        <div style="background-color:#fff;color:#000;position:absolute;bottom:40px;width:380px"
          class="pl-2 pa-1 headline font-weight-light line-height"
        >
          <p class="mb-0" style="">{{news.title}}</p>
        </div>
      </v-container>
    </v-carousel-item>
  </v-carousel>
</template>

<script>
  export default{
    data:()=>({
      height:0,
      width:0
    }),
    mounted(){
      this.onResize()
    },
    methods:{
      onResize(){
        this.height=0,
        this.width=0
      },
      handleClick:function(){
        window.open(this.news.url, '_blank');
      }
    }
  }
</script>
