<template>
  <v-flex xs8 >
    <!--<Tab />-->
    <div  class="mt-3 pa-2">
      <v-layout row wrap>
        <v-flex xs3 v-for="crypto in cryptoList">
          <CryptoCard :crypto="crypto"/>
        </v-flex>
      </v-layout>
    </div>
  </v-flex>
</template>


<script>
  import CryptoCard from "../Cards/CryptoCard"
  import Tab from "../Tab"
  const api=require("../../utility/Api.js")

  export default{
    data:()=>({
      cryptoList:[]
    }),
    components:{CryptoCard,Tab},
    methods:{
      getCryptoList(){
        const that=this
        api.post("/collections/get/cryptocurrency",(response)=>{
          that.cryptoList=response.data.entries
        },function(err){
          //console.log(err)
        })
      }
    },
    created(){
      this.getCryptoList()
    }
  }
</script>
