<template>
  <v-layout row wrap>
    <v-flex d-flex v-for="news in this.$store.state.hotNewsList.slice(4,10)" class="xs4">
      <ImageCard :news="news"/>
    </v-flex>
  </v-layout>
</template>

<script>
  import ImageCard from "../Cards/ImageCard"
  const api=require("../../utility/Api.js")

  export default{
    components:{
      ImageCard
    },
    data:()=>({
      newsList:[]
    })
  }
</script>>
