<template>
  <v-layout row >
    <v-flex xs6 mr-3>
      <StockChart/>
    </v-flex>
    <v-flex xs6>
      <v-card>
        <v-card-title>
          <v-flex xs12 sm6 class="py-2">
            <v-btn-toggle v-model="topType">
              <v-btn value="0" flat color="indigo darken-2">
                Most Active
              </v-btn>
              <v-btn value="1"  flat color="indigo darken-2">
                Top Gainers
              </v-btn>
              <v-btn value="2"  flat color="indigo darken-2">
                Top Losers
              </v-btn>
              <v-btn value="3"  flat color="indigo darken-2">
                Most Volume
              </v-btn>
            </v-btn-toggle>
          </v-flex>
        </v-card-title>
        <TopTables :headers="tableHeaders" :stocks="currentStocks"></TopTables>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  /* eslint-disable */
  import TopTables from "../Tables/TopTables"
  import StockChart from "../Charts/StockChart"
  import iex from "../../utility/iex"
  export default{
    components:{TopTables,StockChart},
    data:()=>({
      tableHeaders:[
        {text:"Symbol",value:"symbol"},
        {text:"Latest Volume",value:"latestVolume"},
        {text:"Latest Price",value:"latestPrice"},
        {text:"Price Change",value:"change"},
        {text:"Price Change (%)",value:"changePercent"}
      ],
      currentStocks:null,topType:"0",firstRequest:true
    }),
    methods:{
      getTop(){
        this.currentStocks=null
        iex.getMostActive().then(response=>{
          this.currentStocks=response.data
          if (this.firstRequest && response.data.length>0){
            this.$store.commit("getStockKeyStats",response.data[0].symbol)
            this.$store.commit("getStockQuote",response.data[0].symbol)
            this.$store.commit("getStockChart",response.data[0].symbol)
            this.firstRequest=false
          }
        }).catch(err=>{
          console.log(err)
        })
      },
      getGainers(){
        this.currentStocks=null
        iex.getGainers().then(response=>{
          this.currentStocks=response.data
        }).catch(err=>{
          console.log(err)
        })
      },
      getLosers(){
        this.currentStocks=null
        iex.getLosers().then(response=>{
          this.currentStocks=response.data
        }).catch(err=>{
          console.log(err)
        })
      },
      getMostVolumne(){
        this.currentStocks=null
        iex.getMostVolumne().then(response=>{
          this.currentStocks=response.data
        }).catch(err=>{
          console.log(err)
        })
      }
    },
    created(){
      this.getTop()
    },
    watch:{
      topType:function(val){
        switch (val){
          case "0":
            this.getTop();break;
          case "1":
            this.getGainers();break;
          case "2":
            this.getLosers();break;
          case "3":
            this.getMostVolumne();break;
        }
      }
    }
  }
</script>
