<template>
  <v-flex xs8>
    <div>
      <!--<Tab />-->
      <div class="pt-3 pr-3">
        <NewsCard class="mt-3" v-for="news in this.$store.state.currentNewsList" :news="news"/>
      </div>
    </div>
    <div class="text-xs-center mt-5">
      <v-pagination
        v-model="page" circle
        :length="100" @input="changePage"
      ></v-pagination>
    </div>
  </v-flex>
</template>

<script>
  import NewsCard from "../Cards/NewsCard"
  import Tab from "../Tab"

  export default{
    data:()=>({
      page:1,
      pages:1,
      newsList:[]
    }),
    methods:{
      getNewsByPage(page){
        this.$store.commit("getNews",page)
        this.newsList=this.$store.state.currentNewsList
      },
      changePage(page){
        this.newsList=[]
        this.getNewsByPage(page)
      }
    },
    created(){
      this.getNewsByPage()
    },
    components:{
      NewsCard,Tab
    }
  }
</script>
