<template>
  <v-card class="elevation-3 pa-3">
    <v-card-title primary-title class="pa-2 pb-3">
      <h5 class="title widget-title">{{title}}</h5>
    </v-card-title>
    <v-divider/>
    <v-card-title>
      <SideMenuNewsCard class="mt-3" v-if="hotNewsList.length>0" v-for="(news,i) in hotNewsList"
        :news="news" :key="i"
      />
      <div class="pa-5"  v-if="!hotNewsList.length>0">
        <img :src="require('../../assets/img/computer.png')" width="150" style="margin:auto;display:block"/>
        <p class="subheading mt-3">Sorry, no news available for this stock</p>
      </div>
    </v-card-title>
  </v-card>
</template>

<script>
  import SideMenuNewsCard from "../Cards/SideMenuNewsCard"
  export default {
    props:['hotNewsList','title'],
    components:{
      SideMenuNewsCard
    },
    created(){
    }
  }
</script>

<style>
  .widget-title::before{
    background-color: #037ef3;
    content: " ";
    width: 6px;
    height: 20px;
    position: absolute;
    left: 0
  }
</style>
