<template>
    <v-card style="position:relative">
      <v-card-title class="title">Comments</v-card-title>

      <v-text-field
        v-model="input" hide-details class="mt-3"
        flat :label="this.$store.state.authState?'Leave a comment...':'Please login first before you make a comment :)'" :disabled="this.$store.state.authState?false:true"
        solo @keydown.enter="createComment"
      >
        <template slot="append">
          <v-btn class="mx-0" :disabled="this.$store.state.authState?false:true"
            depressed @click="createComment"
          >Post</v-btn>
        </template>
      </v-text-field>

      <v-divider/>

      <v-card-text style="height:600px;overflow-y:auto" class="px-5" v-if="comments.length>0" >
        <Comment v-for="comment in comments" v-if="!comment.mainComment" :comment="comment" :refreshComment="getStockComment"></Comment>
      </v-card-text>

      <v-card-text  class="px-5 align-content-center" v-if="!comments.length>0">
        <img :src="require('../../assets/img/dialogue.png')"  style="display:block;margin:auto;margin-top:100px"/>
        <p class="subheading text-xs-center">No one has commented on this stock yet. Be the first to comment</p>
      </v-card-text>

    </v-card>
</template>


<script>
/* eslint-disable */
  import Comment from "../Others/Comment.vue"
  const api=require("../../utility/Api.js")
  export default {
    components:{
      Comment
    },

    props:['stock'],

    data: () => ({
      initiated:false,
      input:null,
      comments:[]
    }),

    methods: {
      getStockComment(){
        var that=this
        api.getStockComment(this.stock.id).then(response=>{
          that.comments=response.data.data
          console.log({...that.comments})
        }).catch(err=>{
          console.log(err)
        })
      },
      createComment(){
        var that=this
        var data={stockId:this.stock.id,comment:this.input}
        if (!this.input || this.input.length==0){
          return this.$store.commit("displayAlert",{type:"error",message:"Comment cannot be empty."})
        }
        api.createComment(data).then(response=>{
          this.input=null
          this.$store.commit("displayAlert",{type:"success",message:"Comment is posted successfully."})
          this.getStockComment()
        }).catch(err=>{
          console.log(err)
        })
      }
    },

    watch:{
      stock:function(val){
        if (val && !this.initiated){
          this.getStockComment(this.stock.id)
          this.initiated=true
        }
      }
    }
  }
</script>
