<template>
  <v-card style="position:relative">
    <v-card-title class="title pb-0">Fundamental Score</v-card-title>
    <div>
      <apexchart type="radialBar" :options="chartOptions" height="270"
        :series="series" v-if="!isLoading" ></apexchart>
    </div>
    <div style="width:fit-content;margin:auto;padding:50px"  v-if="isLoading">
      <SemipolarSpinner
        :animation-duration="3500"
        :size="150"
        color="#ff1d5e"
      />
    </div>
  </v-card>
</template>

<script>
  import { SemipolarSpinner    } from 'epic-spinners'
  export default{
    components:{SemipolarSpinner   },
    props:['data'],
    data:()=>({
      chartOptions: {
        plotOptions: {
          radialBar: {
            dataLabels: {
              name: {
                fontSize: '14px',
              },
              value: {
                fontSize: '20px',
              },
              total: {
                show: true,
                label: 'Total',
                formatter: function (w) {
                  return (w.globals.seriesTotals.reduce((a, b) => {
                    return a + parseFloat(b)
                  }, 0)/ w.globals.series.length).toFixed(2)+"%"
                }
              }
            }
          }
        },
        labels: ['Financial Leverage', 'Liquidity', 'Market Value', 'Profitability'],
      },
      isLoading:true
    }),
    computed:{
      series:function(){
        if (this.data){
          var series=[(this.data.financialLeverageIndex.score*20),(this.data.liquidityIndex.score*20),
            (this.data.marketValueIndex.score*20),(this.data.profitabilityIndex.score*20)]
            series=series.map(v=> v<10?10.00:v.toFixed(2))
          return series
        }
        return []
      }
    },
    created(){
      var that=this
      setTimeout(function(){
        that.isLoading=false
      },3500)
    }
  }

</script>
