<template>
  <v-card>
    <v-card-title class="title pb-0">Key Stats</v-card-title>
    <v-card-text>
      <apexchart type=bar height=270 :options="chartOptions" :series="series" v-if="data"/>
    </v-card-text>
  </v-card>
</template>

<script>
  export default{
    props:['data'],
    data:()=>({
      chartOptions: {
        plotOptions: {
          bar: {
            horizontal: true,
          }
        },
        dataLabels: {
          enabled: false
        },
        xaxis: {
          categories: ['D/E', 'Debt Ratio', 'Current Ratio', 'Quick Ratio', 'PB', 'PE', 'Profit Margin',"ROA" ],
        }
      }
    }),
    computed:{
      series:function(){
        if (this.data)return [{data: this.data}]
        return []
      }
    }
  }
</script>
