<template>
  <v-card  class="fill-height" >
    <v-card-title>
      <v-layout row>
        <v-flex sm2 pa-3>
          <v-avatar :size="70"  color="grey lighten-4" v-if="avatar">
            <img
              :src='avatar' @error="defaultImage()" ref='avatar'
            alt="avatar"/>
          </v-avatar>
        </v-flex>
        <v-flex sm7 pa-3>
          <p class="title" style="height:2em">
            {{stock?stock.companyName:""}}<span class="subheading">{{stock?'('+stock.symbol+')':""}}</span>
          </p>
          <p class="headline">
            {{stockQuote?'$'+stockQuote.latestPrice:""}}
            <span class="subheading ml-2 font-weight-medium" :class="{upStock:isStockRaised,downStock:!isStockRaised}">
              {{isStockRaised?"+":""}}{{stockQuote?stockQuote.change.toFixed(4):""}}
            </span>
            <span class="subheading ml-2 font-weight-medium" :class="{upStock:isStockRaised,downStock:!isStockRaised}">
              {{isStockRaised?"+":""}}{{stockQuote?(stockQuote.changePercent*100).toFixed(2)+"%":""}}
            </span>
          </p>
        </v-flex>
      </v-layout>
    </v-card-title>

    <apexchart type="line" :options="options" :series="series"></apexchart>
  </v-card>
</template>

<script>
  export default{
    data:()=>({
      imageLoaded:true,
    }),
    props:['stockSymbol'],
    computed:{
      stock:function(){
          return this.$store.state.main_stock?this.$store.state.main_stock:null
      },
      avatar:{
        get:function(){
          if (this.$store.state.main_stock)
              console.log(this.$store.state.main_stock.symbol)
          return this.$store.state.main_stock?
            "https://storage.googleapis.com/iex/api/logos/"+this.$store.state.main_stock.symbol.toUpperCase()+".png"
            :"https://vignette.wikia.nocookie.net/heartskywarriorsfanmadeclans/images/4/47/Placeholder.png/revision/latest?cb=20160731055546"
        },
        set:function(val){
          return val
        }
      },
      stockQuote:function(){
          return this.$store.state.main_stock_quote?this.$store.state.main_stock_quote:null
      },
      isStockRaised:function(){
        if (this.stockQuote)
            return this.stockQuote.change>=0?true:false
        return null
      },
      stockChart:function(){
        if (this.$store.state.main_stock_chart){
          return this.$store.state.main_stock_chart
        }
        return null
      },
      chart_categories:function(){
        if (this.stockChart){
          return this.stockChart.map(day=>day.label)
        }
        return []
      },
      chart_data:function(){
        if (this.stockChart){
          return this.stockChart.map(day=>(day.close))
        }
      },
      options:function(){
        var options={
          chart:{id:"chart"},
          xaxis:{categories:this.chart_categories}
        }
        return options
      },
      series:function(){
        if (this.chart_data){
          return [{name:"price",data:this.chart_data}]
        }
        return []
      }
    },
    methods:{
      defaultImage(){
        this.$refs.avatar.src="https://vignette.wikia.nocookie.net/heartskywarriorsfanmadeclans/images/4/47/Placeholder.png/revision/latest?cb=20160731055546"
        this.imageLoaded=false
      }
    }
  }
</script>


<style>
  .upStock{
    color:green
  }
  .downStock{
    color:red
  }
</style>
