<template>
  <v-card class="fill-height">
    <v-img
      class="white--text"
      height="200px"
      src="https://www.thomsonreuters.com/content/dam/ewp-m/images/image-library/en/photography/201138-118072186.jpeg.transform/hero-s/q90/image.jpg"
    >
      <v-container fill-height fluid class="layer">
        <v-layout>
          <v-flex xs12 align-end bottom flexbox pa-3>
            <span class="headline">{{data?data.name:""}}</span><br/><span class="subheading">{{" "+(data?data.symbol:"")}}</span>
          </v-flex>
        </v-layout>
      </v-container>
    </v-img>
    <v-card-title>
      <div>
        <span class="grey--text">{{data?data.industry:""}}</span><br>
        <span>{{data?data.description:""}}</span><br>
        <p class="pt-3 body-2"><span class="font-weight-bold">CEO</span> : {{data?data.CEO:""}}</p>
        <p class="body-1"><span class="font-weight-bold">Tags : </span> {{data?data.tags.join(", "):""}}</p>
        <!--
        <p class="body-1"><span class="font-weight-bold">Industry : </span> {{data?data.industry:""}}</p>
        <p class="body-1"><span class="font-weight-bold">website : </span><a style="word-break:break-all">{{data?data.website:""}}</a></p>-->
      </div>
    </v-card-title>
    <v-card-text class="pa-3 pb-0">
      <div>
        <v-btn dark color="green darken-1" class="row right" style="width:80%" @click="addStockToPortfolio">
          Add to Portfolio
          <v-icon right dark>add</v-icon>
        </v-btn>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
const api=require("../../utility/Api")
export default{
  props:['data'],
  methods:{
    addStockToPortfolio(){
      if (!this.$store.state.authState){
        return this.$store.commit("displayAlert",{type:"error",message:"Please login first."})
      }
      api.addStockToPortfolio({stockSymbol:this.data.symbol}).then(response=>{
        this.$store.commit("displayAlert",{type:"success",message:"Stock is added into portfolio."})
        this.$store.commit("updatePortfolio",response.data.details)
      }).catch(err=>{
        this.$store.commit("displayAlert",{type:"error",message:err.data.message})
        this.$store.commit("updatePortfolio",err.data.details)
      })
    }
  }
}
</script>

<style>
  .layer{
    background: linear-gradient(transparent,#000000)
  }
</style>
