<template>
  <v-hover>
    <v-card class="ma-2 news-card "  slot-scope="{ hover }"
    :class="`elevation-${hover ? 7 : 2}`"
    v-on:click.native="handleClick">
      <div>
        <div class="overflow-hidden pa-4" style="height:200px">
          <v-img
            class="white--text news-card-img"
            aspect-ratio=1
            :src="crypto.Thumbnail.path"
          />
        </div>
        <v-container class="white--text"
          v-bind:class="{'card-transition-background':hover}" style="display:none">
          <div v-bind:class="{'card-show':hover}" class="py-3">
            <p class="subheading font-weight-bold">{{crypto.Name}}</p>
            <p>
              {{shortIntro}}
            </p>
          </div>
        </v-container>
      </div>
      <v-card-title>
        <div style="width:100%;text-align:center">
          <span class="subehading font-weight-light font-weight-black">{{crypto.Name}}</span><br>
          <span class="subheading">{{crypto.Symbol}}</span>
        </div>
      </v-card-title>
    </v-card>
  </v-hover>
</template>

<script>
  var utility =require("../../utility/utility.js")
  export default {
    data:()=>({
      shortIntro:""
    }),
    props:['crypto'],
    methods:{
      handleClick:function(){
        this.$root.currentCrypto=this.crypto
        this.$router.push('/crypto/'+this.crypto._id)
      }
    },
    created(){
      this.shortIntro=utility.extractString(this.crypto.Background).substring(0,50)+'...'
    }
  }
</script>

<style>
  .card-show{
    display: block !important;
    text-align:center;
    justify-content:center
  }

  .card-transition-background{
    background-color:rgba(35, 38, 42, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
    display: block !important
  }

</style>
