<template>
  <v-card>
    <v-card-text class="px-3">
      <v-layout row style="width:85%">
        <v-flex>
          <v-avatar :size="64">
            <img src="https://cdn.vuetifyjs.com/images/john.jpg"/>
          </v-avatar>
        </v-flex>
        <v-flex ml-3>
          <p class="title">Edward</p>
          <p class="subheading">CEO, Bullean</p>
        </v-flex>
      </v-layout>
      <p class="body-2 font-italic mt-4" style="font-size:16px">"It is certainly a company worth investing. Hold the shares for 2 years and reap the return ;)"</p>

      <div class="text-xs-center mt-4">
        <v-rating
            v-model="rating" readonly
            color="yellow darken-3"
            background-color="grey darken-1"
            empty-icon="$vuetify.icons.ratingFull"
            half-increments
          ></v-rating>
      </div>
    </v-card-text>
  </v-card>

</template>

<script>
  export default{
    data: () => ({
      rating: 3.5
    })
  }
</script>
