<template>
  <v-card class="news-card ma-1"
    style="overflow:hidden;position:relative;"
    v-on:click.native="handleClick"
  >
    <div class="overflow-hidden">
      <v-img
        class="white--text news-card-img"
        style="height:170px"
        max-height
        :src="news.urlToImage?news.urlToImage:'https://vignette.wikia.nocookie.net/heartskywarriorsfanmadeclans/images/4/47/Placeholder.png/revision/latest?cb=20160731055546'"
        aspect-ratio=1
      >
      </v-img>
    </div>
    <v-container fill-height fluid class="color-layer color-layer-background pl-0 pt-5 pb-2 overflow-hidden">
      <div style="background-color:#fff;color:#000;" class="pl-2 pa-1 title font-weight-light line-height">
        <p class="mb-0">{{news.title.length>50?news.title.substring(0,50)+"...":news.title}}</p>
      </div>
    </v-container>
  </v-card>
</template>

<script>
  export default{
    props:{
      news:{
        type:Object,
        default:null
      }
    },
    methods:{
      handleClick:function(){
        window.open(this.news.url, '_blank');
        /*this.$root.currentNews=this.news
        this.$router.push('/news/'+this.news._id)*/
      }
    }
  }
</script>

<style lang="scss">
  @import '../../assets/css/style.css';
</style>
