<template>
  <v-hover>
    <v-card elevation-3
      slot-scope="{ hover }"
      class="news-card"
      :class="`elevation-${hover ? 12 : 2}`"
      v-on:click.native="handleClick"
    >
      <v-layout wrap fluid>
        <v-flex xs4 pa-0
          justify-center=true max-height
          align-content-center=true
          style="overflow:hidden">
          <v-img
            :src="news.urlToImage?news.urlToImage:imagePlaceHolder"
            @error="imageErrorHandler"
            wrap
            height="200"
            max-height
            class="news-card-img"
          ></v-img>
        </v-flex>
        <v-flex xs8>
          <v-card-title class="py-1" max-height>
            <v-container class="px-3 py-3">
              <p class="title font-weight-bold news-card-title row">{{news.title.length>80?news.title.substring(0,80)+"...":news.title}}</p>
              <p class="caption news-card-descripiton row">{{news.description.substring(0,200)+"..."}}</p>
              <p class="caption-text-right mb-0">{{"by "+news.author+",  "+news.publishedAt.substring(0,10)}}</p>
            </v-container>
          </v-card-title>
        </v-flex>
      </v-layout>
    </v-card>
  </v-hover>
</template>


<script>
  const utility =require("../../utility/utility.js")

  export default {
    data:()=>({
      shortIntro:"",
      imagePlaceHolder:"https://vignette.wikia.nocookie.net/heartskywarriorsfanmadeclans/images/4/47/Placeholder.png/revision/latest?cb=20160731055546"
    }),
    props:["news"],
    created(){
      var news=this.news
    },
    methods:{
      handleClick:function(){
        window.open(this.news.url, '_blank');
        /*this.$root.currentNews=this.news
        this.$router.push('/news/'+this.news._id)
        this.$vuetify.goTo("#toolbar",this.$root.scroll)*/
      },
      imageErrorHandler:function(ev){
        this.$store.commit('removeBrokenImage',this.news.title)
      }
    }
  }
</script>

<style>
  @import '../../assets/css/style.css';
  .caption-text-right{
    color: rgb(135, 135, 135);
    position: absolute;
    right: 50px;
    bottom: 20px;
  }
  .caption-text-left{
    color: rgb(135, 135, 135);
    position: absolute;
    bottom: 20px;
  }
</style>
