<template>
  <v-hover>
    <v-card width="-webkit-fill-available" flat
      slot-scope="{ hover }" class="news-card"
      :class="`elevation-${hover ? 3 : 0}`"
      v-on:click.native="handleClick">
      <v-layout wrap fluid>
        <v-flex xs3
          justify-center=true
          align-content-center=true
          class="overflow-hidden">
          <v-img
            :src="news.urlToImage?news.urlToImage:'https://vignette.wikia.nocookie.net/heartskywarriorsfanmadeclans/images/4/47/Placeholder.png/revision/latest?cb=20160731055546'"
            class="news-card-img"
            aspect-ratio=1
            wrap
          ></v-img>
        </v-flex>
        <v-flex xs8 pl-3>
          <v-card-title class="pa-0">
            <div>
              <p class="subheading font-weight-bold mt-1">
                {{news.title.length>40?news.title.substring(0,40)+"...":news.title}}
              </p>
              <p class="caption bottom bottom ma-0 mb-2 grey--text text-truncate">Author: {{news.author.length>30?news.author.substring(0,30)+"...":news.author}}</p>
            </div>
          </v-card-title>
        </v-flex>
      </v-layout>
    </v-card>
  </v-hover>
</template>


<script>
  export default {
    props:{
      news:Object
    },
    date:()=>({}),
    mounted(){
      //console.log(this.news)
    },
    methods:{
      handleClick:function(){
        window.open(this.news.url, '_blank');
        /*this.$root.currentNews=this.news
        this.$router.push('/news/'+this.news._id)
        this.$vuetify.goTo("#toolbar",this.$root.scroll)*/
      }
    }
  }
</script>

<style>
  .bottom{
    position:absolute;
    bottom: 0;
  }
</style>
