<template>
  <v-hover>
    <v-card elevation-3
      slot-scope="{ hover }"
      class="news-card"
      :class="`elevation-${hover ? 12 : 2}`"
    >
      <v-layout>
        <v-flex xs4 pa-0
          justify-center=true max-height
          align-content-center=true
          style="overflow:hidden">
          <v-img
            :src="imgSrc"
            wrap contain
            height="200" @error="defaultImage()"
            max-height ref="stockImg"
            class="news-card-img"
          ></v-img>
        </v-flex>
        <v-flex xs8>
          <v-card-title class="py-1" max-height>
            <v-container class="px-3 py-3">
              <p class="title font-weight-bold news-card-title row">{{stock.name}}</p>
              <p class="caption news-card-descripiton row">{{stock.description.length>200?stock.description.substring(0,200)+"...":stock.description}}</p>
            </v-container>
          </v-card-title>
        </v-flex>
      </v-layout>
    </v-card>
  </v-hover>
</template>


<script>
  export default {
    data:()=>({
      shortIntro:""
    }),
    computed:{
      imgSrc:function(){
        return "https://storage.googleapis.com/iex/api/logos/"+this.stock.symbol.toUpperCase()+".png"
      }
    },
    props:["stock"],
    methods:{
      handleClick:function(){
        window.open(this.news.url, '_blank');
      },
      defaultImage(){
        this.$refs.stockImg.src="https://vignette.wikia.nocookie.net/heartskywarriorsfanmadeclans/images/4/47/Placeholder.png/revision/latest?cb=20160731055546"
      }
    }
  }
</script>

<style>
  @import '../../assets/css/style.css';
  .caption-text-right{
    color: rgb(135, 135, 135);
    position: absolute;
    right: 50px;
    bottom: 20px;
  }
  .caption-text-left{
    color: rgb(135, 135, 135);
    position: absolute;
    bottom: 20px;
  }
</style>
