
<template>
  <v-parallax
    dark
    height=300
    src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg"
  >
    <v-layout
      align-center
      column
      justify-center
    >
      <h1 class="display-2 font-weight-thin mb-3">Subscribe </h1>
      <h4 class="subheading">And get all the updated information</h4>
      <v-form  class="mt-3">
          <v-text-field
            label="Email"
            placeholder="sample@gmail.com"
            box
            background-color="rgba(255,255,255,.3)"
            color="#FFFFFF"
          ></v-text-field>
      </v-form>
    </v-layout>
  </v-parallax>
</template>

<script>
  /* eslint-disable */
  export default{}
</script>

<style>
  .background {
     background-color: rgba(0, 0, 255, 0.2);
     width: 100%;
     height: 100%;
  }
</style>
