.primary-bg-color{
  background-color:#304ffe;
  color:white
}

.news-card-title{
  line-height: 28px !important;
  color:#3b3b3b
}

.news-card-descripiton{
  line-height: 24px;
  color:#6e6e6e;
  font-size: 14px !important
}

.news-card{
  cursor:pointer
}

.news-card-img{
  -webkit-transition: all .5s ease; /* Safari and Chrome */
  -moz-transition: all .5s ease; /* Firefox */
  -o-transition: all .5s ease; /* IE 9 */
  -ms-transition: all .5s ease; /* Opera */
  transition: all .5s ease;
}


.news-card:hover .news-card-img{
  -webkit-transform:scale(1.1); /* Safari and Chrome */
  -moz-transform:scale(1.1); /* Firefox */
  -ms-transform:scale(1.1); /* IE 9 */
  -o-transform:scale(1.1); /* Opera */
   transform:scale(1.1);
}

.overflow-hidden{
  overflow: hidden
}

.color-layer{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
}

/*background:linear-gradient(135deg,rgba(0,86,255,.5) 0,rgba(229,19,125,.3) 100%),linear-gradient(transparent 50%,rgba(0,0,0,.85) 100%);*/
.color-layer-background{
  background:linear-gradient(135deg,rgba(0,86,255,.5) 0,rgba(229,19,125,.3) 100%),linear-gradient(transparent 50%,rgba(0,0,0,.85) 100%);
  transition: all .25s ease-in-out;
}

#f1_container {
  position: relative;
  margin: 10px auto;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all .5s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
}

.card-radius{
  overflow:hidden;
  border-radius:20px
}

.line-height{
  line-height: 1.4 !important
}

.title-color{
  color:#212529
}

.news-title{
  color: #3b3b3b;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 24px;
  margin-top: 8px;
  font-size: 30px;
}

.news-subheading{
  color:"#bababa"
}

.news-content{
  color: #545454;
  word-wrap: break-word;
  display: block;
  font-size: 18px;
  line-height: 1.75;
}

.news-content img{
  width:100%;
  height:400px
}

@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
