<template>
  <div grid-list-md class="gray-background" pa-0 mx-0>
    <v-layout row mt-1>
      <v-flex xs8  pa-3>
        <div class="elevation-3 pa-5" style="background-color:white;width:100%;height:100%">
          <p class="news-title">{{this.$root.currentCrypto.Name}}</p>
          <p class="news-subheading mb-5">{{this.$root.currentCrypto.Date}}</p>
          <v-layout row height="300" style="height:300px">
            <v-img :src="this.$root.currentCrypto.Thumbnail.path" class="xs4" height="200" width="200"></v-img>
            <div style="overflow:auto" class="ml-3  px-5" id="container">
              <p class="headline font-weight-bold">背景</p>
              <p v-html="this.$root.currentCrypto.Background" class="news-content xs7" ></p>
            </div>
          </v-layout>

          <v-tabs fixed-tabs color="blue lighten-3" class="mt-3"
            @change="changeTab" dark slider-color="blue"
          >
            <v-tab v-for="tab in tabs" :key="tab.key">
              <p class="subheading mb-0">{{tab.text}}</p>
            </v-tab>
          </v-tabs>

          <div class="news-content mt-5">
            <p v-html="activeTabHtml"></p>
          </div>
        </div>
      </v-flex>


      <v-flex xs4 ref="sideBar">
        <SideMenuCard ref="subscriptionCard"/>
        <v-slide-y-transition>
          <SubscriptionCard/>
        </v-slide-y-transition>
        <SideMenuCard  ref="lastItem"/>
        <v-slide-y-transition>
          <SubscriptionCard v-show="isSidebarStick"
            v-bind:class="{sticky:isSidebarStick}"
            v-bind:style="{width:isSidebarStick?sideBarWidth+'px':'auto'}"
          />
        </v-slide-y-transition>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
 /* eslint-disable */
  import SideMenuCard from "../components/Container/SideMenu"
  import SubscriptionCard from "../components/Cards/SubscriptionCard"
  const api=require("../utility/Api.js")

  export default{
    components: {
      SideMenuCard,
      SubscriptionCard
    },
    data:()=>({
      isSidebarStick:false,
      sideBarWidth:0,
      active:null,
      tabs:[{key:"Technology",text:"技术"},{key:"Application",text:"应用"},{key:"SAndW",text:"优势与劣势"},{key:"Conclusion",text:"结论"}],
      activeTabHtml:""
    }),
    methods:{
      changeTab(tab){
        switch(tab){
          case 0:this.activeTabHtml=this.$root.currentCrypto.Technology;break
          case 1:this.activeTabHtml=this.$root.currentCrypto.Application;break
          case 2:this.activeTabHtml=this.$root.currentCrypto.SAndW;break
          case 3:this.activeTabHtml=this.$root.currentCrypto.Conclusion;break
        }
      },
      getCrypto(){
        const data={
          populate:1,
          filter:{_id:this.cryptoId}
        };
        var that=this
        api.postData('/collections/get/cryptocurrency',data,response=>{
          that.$root.currentCrypto=response.data.entries[0]
          that.activeTabHtml=this.$root.currentCrypto.Technology
            console.log(that.$root.currentCrypto)
        },(err)=>{console.log(err)})
      }
    },
    created(){
      this.cryptoId=this.$route.params.cryptoId
      if (!this.crypto){this.getCrypto()}
      this.crypto=this.$root.currentCrypto
    }
  }
</script>

<style>
  #container::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  #container::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
  }

  #container::-webkit-scrollbar-thumb{
    background-color: #b3d4fc;
  }
</style>
