<template>
  <div grid-list-md class="gray-background ma-0">
    <v-layout row mt-0 id="main" ma-0>
      <v-parallax
        dark :src="parallax"
        style="width:-webkit-fill-available"
      >
        <MenuBar :isMain="true" style="position:absolute"/>
        <v-layout
          align-center
          column
          justify-center
        >
          <h1 class="display-2 font-weight-thin mb-3">Bullean</h1>
          <Main_Search style="flex:none;width:400px"/>
          <h4 class="subheading mt-3">Investing made simple!</h4>
        </v-layout>
      </v-parallax>
    </v-layout>

    <div class="pa-5" style="background-color:#eee" >
      <v-layout row>
        <Main_DataPart/>
      </v-layout>
    </div>
  </div>
</template>


<script>
import MenuBar from "../components/MenuBar/MenuBar"
import Main_DataPart from "../components/Container/Main_DataPart"
import Main_Search from "../components/Inputs/Main_Search"
export default {
  name: 'App',
  components: {
    MenuBar,Main_DataPart,Main_Search
  },
  data:()=>({
    isSidebarStick:false,
    sideBarWidth:0,
    parallax:require("../assets/img/home_parallax2.jpg")
  }),
  methods:{
    handleScroll () {
      if (this.$refs.lastItem){
        var triggerPoint=(parseInt(this.$refs.lastItem.$el.offsetTop)+1000)
        var trigger = window.scrollY >triggerPoint;
        if (this.isSidebarStick!=trigger){
          this.isSidebarStick=trigger
          this.$refs.subscriptionCard.$el.width=this.sideBarWidth+"px"
        }
      }
    }
  },
  created(){
    window.addEventListener('scroll', this.handleScroll);
  },
  mounted(){
    if (this.$refs.lastItem){
      this.sideBarWidth=this.$refs.lastItem.$el.offsetWidth
    }
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  }
}
</script>


<style >
.sticky{
  position: fixed;
  z-index: 999;
  top:80px;
}


#main img{
  height:100%;
  transform:translate(-50%,0) !important;
}


</style>
