<template>
  <div grid-list-md class="gray-background" pa-0 mx-0>
    <v-layout row>
      <v-flex xs4>
        <Carousel/>
      </v-flex>
      <v-flex xs8 mb-3>
        <ImageCardContainer/>
      </v-flex>
    </v-layout>

    <v-layout row mt-1>
      <NewsContainer/>
      <v-flex xs4 p-3 ref="sideBar">
        <SideMenuCard class="my-3" ref="subscriptionCard" :title="'Business News'" :hotNewsList="this.$store.state.hotNewsList.slice(10,15)"/>
        <v-slide-y-transition>
          <SubscriptionCard/>
        </v-slide-y-transition>
        <SideMenuCard class="my-3"  ref="lastItem" :title="'Business News'" :hotNewsList="this.$store.state.hotNewsList.slice(15,20)"/>
        <v-slide-y-transition>
          <SubscriptionCard v-show="isSidebarStick"
            v-bind:class="{sticky:isSidebarStick}"
            v-bind:style="{width:isSidebarStick?sideBarWidth+'px':'auto'}"
          />
        </v-slide-y-transition>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import Carousel from '../components/Container/Carousel'
import SideMenuCard from "../components/Container/SideMenu"
import SubscriptionCard from "../components/Cards/SubscriptionCard"
import ImageCardContainer from "../components/Container/ImageCardContainer"
import NewsContainer from "../components/Container/NewsContainer"

export default {
  name: 'App',
  components: {
    Carousel,NewsContainer,
    SideMenuCard,
    SubscriptionCard,ImageCardContainer
  },
  data:()=>({
    isSidebarStick:false,
    sideBarWidth:0
  }),
  methods:{
    handleScroll () {
      var triggerPoint=(parseInt(this.$refs.lastItem.$el.offsetTop)+500)
      var trigger = window.scrollY >triggerPoint;
      if (this.isSidebarStick!=trigger){
        this.isSidebarStick=trigger
      }
    }
  },
  created(){
    window.addEventListener('scroll', this.handleScroll);
    this.$store.commit('getBusinessNews')
  },
  mounted(){
    this.sideBarWidth=this.$refs.lastItem.$el.offsetWidth
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  }
}
</script>

<style>

.sticky{
  position: fixed;
  z-index: 999;
  top:150px;
}

.max-width{
  max-width: 1200px !important
}
</style>
