<template>
  <div grid-list-md class="gray-background ma-0">
    <v-layout row no-gutters>
      <v-flex class="sm6 xs12">
        <v-card>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">Portfolio Suggestion</h3>
              <v-layout class="mt-3">
                <v-flex class="sm3 pa-3">
                  <v-img :src="require('../assets/img/good.png')"/>
                </v-flex>
                <v-flex class="sm8 pl-4 pt-2">
                  Select stocks across a broad spectrum of market categories. This is best achieved through an index fund.
                  Aim to invest in conservative stocks with regular dividends, stocks with long-term growth potential, and a small percentage of stocks with better returns or higher risk potential.
                </v-flex>
              </v-layout>
            </div>
          </v-card-title>

          <v-card-actions>
            <div style="margin-left: auto;width: fit-content;">
              <v-btn flat color="orange" >Share</v-btn>
              <v-btn flat color="orange" >Explore</v-btn>
            </div>
          </v-card-actions>
        </v-card>
      </v-flex>

      <v-flex class="sm6 ml-3">
        <v-card class="fill-height">
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">Portfolio Performance</h3>
              <v-layout class="mt-3">
                <v-flex class="sm3 pa-3">
                  <v-img :src="performanceImg"/>
                </v-flex>
                <v-flex class="sm8 pl-4 pt-2">
                  Your portfolio received a {{totalChangePercent.toFixed(2)}}% {{totalChangePercent>0?'profit':'loss'}} today.
                  {{words}}
                </v-flex>
              </v-layout>
            </div>
          </v-card-title>

          <v-card-actions>
            <div style="margin-left: auto;width: fit-content;">
              <v-btn flat color="orange" >Know more</v-btn>
            </div>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>


    <v-layout row style="height:200px" class="mt-3" v-for="(stock,i) in portfolio.stocks" :key="i">
      <v-flex xs8>
        <StockCard :stock="stock" class="mb-3"/>
      </v-flex>
      <v-flex xs4 ml-3 >
        <v-card class="fill-height px-3 py-2" v-if="quotes.length>0">
          <v-card-title class="body-2">{{quotes[i].symbol}}</v-card-title>
          <v-card-text>
            <v-layout row>
              <v-flex xs6>
                <p>High: <span>{{quotes[i].high}}</span></p>
                <p>Low: <span>{{quotes[i].low}}</span></p>
                <p>Close: <span>{{quotes[i].close}}</span></p>
              </v-flex>
              <v-flex xs6>
                <v-btn class="right" dark color="green lighten-1" @click="checkStock(quotes[i].symbol)">Check</v-btn>
                <v-btn class="right" dark color="red lighten-1" @click="removeStockFromPortfolio(quotes[i].symbol)">Remove</v-btn>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
 /* eslint-disable */
  import StockCard from "../components/Cards/StockCard"
  import iex from "../utility/iex"
  const api=require("../utility/Api")


  export default{
    components:{
      StockCard
    },
    data:()=>({
      portfolio:[],quotes:[]
    }),
    methods:{
      getPortfolio(){
        api.getPortfolio(this.$store.state.authState.token).then(response=>{
          this.portfolio=response.data.details
          this.getPortfolioQuote(response.data.details)
        }).catch(err=>{
          console.log(err)
        })
      },
      getPortfolioQuote(portfolio){
        var query=[]
        portfolio.stocks.forEach(function(stock){
          query.push(stock.symbol.toLowerCase())
        })
        iex.getBatchQuote(query).then(response=>{
          Object.keys(response.data).forEach((key,index)=>{
            this.quotes.push(response.data[key].quote)
          });
          console.log(this.quotes)
        }).catch(err=>{
          console.log(err)
        })
      },
      removeStockFromPortfolio(symbol){
        api.removeStockFromPortfolio({stockSymbol:symbol}).then(response=>{
          this.$store.commit("displayAlert",{type:"success",message:"You have removed the stock from portfolio."})
          this.getPortfolio()
        }).catch(err=>{
          console.log(err)
        })
      },
      checkStock(symbol){
        return this.$router.push("/stock/"+symbol)
      }
    },
    computed:{
      totalChange:function(){
        var amount=0
        this.quotes.forEach(function(stock){
          amount+=stock.change
        })
        return amount
      },
      totalChangePercent:function(){
        var percent=0
        this.quotes.forEach(function(stock){
          percent+=stock.changePercent
        })
        console.log(percent)
        return percent/this.quotes.length*100
      },
      words:function(){
        return this.totalChangePercent>0?"Keep it up. You can make more earning from the investment":
          "You should try changing your investing strategy into buying some blue chips and avoid risks for now"
      },
      performanceImg:function(){
        return this.totalChangePercent>0?require('../assets/img/good.png'):require('../assets/img/money-bag.png')
      }
    },
    created(){
      this.getPortfolio()
    }
  }
</script>
