<template>
  <div grid-list-md class="gray-background ma-0">
    <v-layout>
      <v-flex sm4>
        <div class="px-5">
          <v-img
            :src="'https://picsum.photos/510/300?random'"
            aspect-ratio="1"
            class="grey lighten-2"
          />
        </div>
      </v-flex>
      <v-flex sm8>
        <v-card>
          <div class="pa-4">
            <p class="display-1 font-weight-medium mb-1">{{this.firstName+" "+this.lastName}}</p>
            <p class="subheading font-weight-regular">Experience investor</p>
          </div>

          <v-card-text class="pa-4">
            <form>
              <v-text-field
                v-model="email"
                label="Email"
                disabled
                data-vv-name="name"
                required
              ></v-text-field>
              <v-layout row>
                <v-text-field
                  v-model="firstName"
                  label="First Name"
                  data-vv-name="email"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="lastName"
                  class="ml-3"
                  label="Last Name"
                  data-vv-name="email"
                  required
                ></v-text-field>
              </v-layout>

              <v-checkbox
                value="1"
                label="Get news and latest updated from Bullean "
                data-vv-name="checkbox"
                type="checkbox"
                required
              ></v-checkbox>

              <div style="width:fit-content;margin-left:auto">
                <v-btn color="green lighten-1" dark @click="updateProfile">Update</v-btn>
              </div>

              <p class="title mt-4">
                Update Password
              </p>
              <v-layout row>
                <v-text-field
                  v-model="password"
                  label="Password"
                  required type="password"
                ></v-text-field>
              </v-layout>
              <v-layout row>
                <v-text-field
                  v-model="newPassword"
                  label="New Password"
                  required type="password"
                ></v-text-field>
                <v-text-field
                  v-model="confirmPassword"
                  label="Confirm Password"
                  class="ml-3" type="password"
                  required
                ></v-text-field>
              </v-layout>

              <div style="width:fit-content;margin-left:auto">
                <v-btn color="green lighten-1" dark @click="updatePassword">Change Password</v-btn>
              </div>
            </form>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
  const api=require("../utility/Api")
  export default{
    data:()=>({
      profile:{},
      password:"",
      newPassword:"",
      confirmPassword:""
    }),
    computed:{
      email:{
        get:function(){
          return this.profile.email
        },
        set:function(val){
          return val
        }
      },
      firstName:{
        get:function(){
          return this.profile.firstName
        },
        set:function(val){
          return this.profile.firstName=val
        }
      },
      lastName:{
        get:function(){
          return this.profile.lastName
        },
        set:function(val){
          return this.profile.lastName=val
        }
      }

    },
    methods:{
      getProfile(){
        api.getProfile(this.$store.state.authState.token).then(response=>{
          this.profile=response.data.data
        }).catch(err=>{
          console.log(err)
        })
      },
      updateProfile(){
        var data={
          firstName:this.firstName,
          lastName:this.lastName
        }
        api.updateProfile(data).then(response=>{
          this.$store.commit("updateProfile",this.profile)
          this.$store.commit("displayAlert",{type:"success",message:"Profile is updated successfully."})
        }).catch(err=>{
          console.log(err)
        })
      },
      updatePassword(){
        var data={password:this.password,newPassword:this.newPassword,confirmPassword:this.confirmPassword}
        api.updatePassword(data).then(response=>{
          this.$store.commit("displayAlert",{type:"success",message:"Password is updated successfully."})
        }).catch(err=>{
          this.$store.commit("displayAlert",{type:"error",message:err.data.details})
        })
      }
    },
    created(){
      this.getProfile()
    }
  }
</script>
