<template>
  <v-container pa-0>
    <v-layout row ref="row">
      <v-flex sm6>
        <StockChart :stockSymbol="$route.params.stockSymbol"/>
      </v-flex>
      <v-flex sm3 row wrap class=" fill-height" style="height:inherit">
        <IndicesChart class="ml-3 xs12" :data="stock.indices" style="height:50%"/>
        <EdwardCard  class="ml-3 mt-3 xs12" style="height:47%"/>
      </v-flex>
      <v-flex sm3 ref="place">
        <CompanyCard class="ml-3" :data="stock?stock.indices:null" :class="{stick:isStick,'stick-style':isStick}" ref="companyCard"
          v-bind:style="{width:isStick?sideBarWidth+'px':'auto'}"
        />
      </v-flex>
    </v-layout>

    <v-layout row mt-3>
      <v-flex sm4 row wrap class=" fill-height" style="height:inherit">
        <SideMenu class="xs12 mb-3" style="height:50%" :title="'Company News'" :hotNewsList="news"/>
        <RatiosChart  class="mt-3 xs12" style="height:47%" :data="ratios"/>
      </v-flex>

      <v-flex sm8>
        <Stock_Comment class="ml-3 fill-height" :stock="stock?stock.indices:null"/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

   /* eslint-disable */
  import StockChart from "../components/Charts/StockChart"
  import CompanyCard from "../components/Cards/CompanyCard"
  import IndicesChart from "../components/Charts/IndicesChart"
  import RatiosChart from "../components/Charts/RatiosChart"
  import Stock_Comment from "../components/Container/Stock_Comment"
  import EdwardCard from "../components/Cards/EdwardCard"
  import SideMenu from "../components/Container/SideMenu"
  import iex from "../utility/iex"

  export default{
    data:()=>({
      isStick:false,sideBarWidth:0,news:[]
    }),
    components:{
      StockChart,CompanyCard,IndicesChart,SideMenu,
      RatiosChart,Stock_Comment,EdwardCard
    },
    computed:{
      stockSymbol:function(){
        return this.$route.params.stockSymbol
      },
      stock:function(){
        return {quote:this.$store.state.main_stock_quote,keyState:this.$store.state.main_stock,indices:this.$store.state.main_stock_indices}
      },
      ratios:function(){
        if (this.stock.indices){
          var val=this.stock.indices
          return [val.financialLeverageIndex.debtRatio.score,val.financialLeverageIndex.debtToEquityRatio.score,
            val.liquidityIndex.currentRatio.score,val.liquidityIndex.quickRatio.score,val.marketValueIndex.pbRatio.score,
            val.marketValueIndex.peRatio.score,val.profitabilityIndex.profitMargin.score,val.profitabilityIndex.roa.score
          ]
        }
        return null
      },
      stockName:function(){
        if (this.stock.indices){
          return this.stock.indices.name.substring(0,15)
        }
        return null
      }
    },
    watch:{
      stockName:function(val){
        if (val){
          this.getStockNews(val)
        }
      }
    },
    created(){
      window.addEventListener('scroll', this.handleScroll);
      this.$store.commit("getStockChart",this.stockSymbol)
      this.$store.commit("getStockQuote",this.stockSymbol)
      this.$store.commit("getStockIndices",this.stockSymbol)
      this.$store.commit("getStockKeyStats",this.stockSymbol)
    },
    methods:{
      getStockNews(companyName){
        var that=this
        iex.getStockNews(companyName).then(response=>{
          that.news=response.data.articles.length>3?response.data.articles.slice(0,2):response.data.articles
        }).catch(err=>{
          console.log(err)
        })
      }
    }
  }
</script>

<style>
  .stick{
    position:fixed;
    z-index: 999;
  }

  .stick-style{
    top:10px;
    margin-right:24px;
  }
</style>
