<template>
  <v-layout row justify-center>
    <v-dialog v-model="modalOpen" max-width="600px" overflow="false" >
      <!--Login-->
      <v-card v-if="!register">
        <v-card-title class="pa-4"></v-card-title>
        <v-card-text class="px-5 pb-0">
          <v-btn @click="this.oAuth" class="google-btn">
            <v-avatar  :size="26" class="mr-2">
              <v-img :src="require('../../assets/google.png')"/>
            </v-avatar>
            Log in with Google
          </v-btn>

          <v-divider style="  margin-bottom: 30px;"/>

          <v-form>
            <v-flex xs12 sm12>
              <v-text-field
                label="Email Address" v-model="email"
                append-icon="email" color="white" :error="showError"
                :rules="emailRules" solo-inverted
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12>
              <v-text-field clearable clear-icon
                label="Password" v-model="password" :error="showError"
                append-icon="lock" type="password"
                :rules="passwordRules" solo-inverted
              ></v-text-field>
            </v-flex>
            <v-layout row>
              <v-flex xs6 sm6 mt-0>
                <v-checkbox class="mt-0"
                  label="Remember Me" color="#304ffe"
                  v-model="rememberMe"
                ></v-checkbox>
              </v-flex>
              <v-flex xs6 sm6 mt-0>
                <v-chip label text-color="grey darken-3" class="right">
                  Show Password
                </v-chip>
              </v-flex>
            </v-layout>
          </v-form></v-card-text>
        <div class="px-5 pb-5 ">
          <v-layout row wrap>
            <v-btn depressed style="width:100%;height:45px;margin:auto"
              color="#304ffe" dark @click="auth">
              Sign In
            </v-btn>
          </v-layout>
          <v-layout row>
            <p style="margin:auto" class="mt-3 subheading">
              Not a user?<b><a @click="register=!register"> Register</a></b>
            </p>
          </v-layout>
        </div>
      </v-card>

      <!--Register-->
      <v-card v-if="register">
        <v-card-title class="pa-4"></v-card-title>
        <v-card-text class="px-5 pb-0">
          <v-form>
            <v-flex xs12 sm12>
              <v-text-field
                label="Email Address" v-model="email"
                append-icon="email" color="white"
                solo-inverted :rules="emailRules"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12>
              <v-text-field clearable clear-icon
                label="First Name"  v-model="firstName"
                append-icon="person" :rules="firstNameRule"
                solo-inverted
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12>
              <v-text-field clearable clear-icon
                label="Last Name"  v-model="lastName"
                append-icon="person" :rules="lastNameRule"
                solo-inverted
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12>
              <v-text-field clearable clear-icon
                label="Create a Password"  v-model="password"
                append-icon="lock" :rules="passwordRules"
                type="password"
                solo-inverted
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12>
              <v-text-field clearable clear-icon
                label="Confirm Password"  v-model="confirmPassword"
                append-icon="lock" :rules="confirmPasswordRule"
                type="password"
                solo-inverted
              ></v-text-field>
            </v-flex>
            <v-layout row>
              <v-flex xs12 sm12 mt-0>
                <v-checkbox class="mt-0"
                  label="I don’t want to receive marketing messages from Bullean. I can also opt out of receiving these at any time in my account settings or via the link in the message." color="#304ffe"
                  v-model="rememberMe"
                ></v-checkbox>
              </v-flex>
            </v-layout>
          </v-form>
        </v-card-text>
        <div class="px-5 pb-5 ">
          <v-layout row wrap>
            <v-btn depressed style="width:100%;height:45px;margin:auto"
              color="#304ffe" dark @click="registerUser">
              Sign Up
            </v-btn>
          </v-layout>

          <v-divider light class="mt-3"/>
          <p class="mt-2 subheading">
           Already have a Bullean account? <b><a @click="register=!register"> Log in</a></b>
          </p>
        </div>
      </v-card>

    </v-dialog>
  </v-layout>
</template>



<style>
  .text{
    color:rgba(0,0,0,0.87);
  }

  .google-btn{
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    height: 45px;
  }
</style>

<script>
/* eslint-disable */
  import {checkEmailFormat} from "../../utility/utility.js"
  const api=require("../../utility/Api.js")

  export default{
    data:()=>({
      register:false,registerPage:1,
      rememberMe:false,showError:false,
      email:"",password:"",lastName:"",firstName:""
    }),
    computed:{
      modalOpen:{
        get:function(){return(this.$store.state.loginModal)},
        set:function(){
          this.$store.commit("triggerLoginModal")
        }
      },
      emailRules() {
        return [
          v => !!v || 'E-mail is required',
          v => checkEmailFormat(v)|| 'E-mail must be valid'
        ]
      },
      passwordRules() {
        return [
          v => !!v || 'Password is required',
          v => v.length>7 || "Password cannot be lesser than 8 characters"
        ]
      },
      firstNameRule() {
        return [
          v => !!v || 'First Name is required'
        ]
      },
      lastNameRule() {
        return [
          v => !!v || 'Last Name is required'
        ]
      },
      confirmPasswordRule(){
        return [
          v => v==this.password || "Password does not match"
        ]
      }
    },
    watch:{
      modalOpen:function(){
        this.register=false;
        this.email="";this.password="";this.firstName="";this.lastName="";
      }
    },
    methods:{
      auth:function(){
        if (!this.email || !this.password){
          return this.$store.commit("displayAlert",{type:"error",message:"Please fill in all fields"})
        }
        else if (this.password.length<8){
          return this.$store.commit("displayAlert",{type:"error",message:"Password cannot be lesser than 8 characters"})
        }
        else if (!checkEmailFormat(this.email)){
          return this.$store.commit("displayAlert",{type:"error",message:"Wrong email format"})
        }
        api.auth({email:this.email,password:this.password}).then(response=>{
          this.$store.commit("auth",{data:response.data.data,app:this.$root})
          this.$store.commit("displayAlert",{type:"success",message:"Login successful. You are now logged in to Bullean"})
          this.$store.commit("triggerLoginModal")
        }).catch(err=>{
          console.log(err)
           this.$store.commit("displayAlert",{type:"error",message:err.data.message+" - "+err.data.details})
        })
      },

      registerUser:function(){
        if (!this.email || !this.password || !this.firstName || !this.lastName){
          return this.$store.commit("displayAlert",{type:"error",message:"Please fill in all fields"})
        }
        else if (this.password.length<8){
          return this.$store.commit("displayAlert",{type:"error",message:"Password cannot be lesser than 8 characters"})
        }
        else if (!checkEmailFormat(this.email)){
          return this.$store.commit("displayAlert",{type:"error",message:"Wrong email format"})
        }
        else if (this.password!=this.confirmPassword){
          return this.$store.commit("displayAlert",{type:"error",message:"Password and Confirm Password does not match"})
        }
        var data={email:this.email,firstName:this.firstName,lastName:this.lastName,password:this.password}
        api.register(data).then(response=>{
          this.$store.commit("displayAlert",{type:"success",message:"Registration successful. You can now login to Bullean"})
          this.$store.commit("triggerLoginModal")
        }).catch(err=>{
          this.$store.commit("displayAlert",{type:"error",message:err.data.message+" - "+err.data.details})
        })
      },

      oAuth:function(){
        this.$gAuth.getAuthCode().then(code=>{
          return api.oAuth(code)
        }).then(response=>{
          this.$store.commit("auth",{data:response.data.data,app:this.$root})
          this.$store.commit("displayAlert",{type:"success",message:"Login successful. You are now logged in to Bullean"})
          this.$store.commit("triggerLoginModal")
        }).catch(err=>{
           this.$store.commit("displayAlert",{type:"error",message:err.data.message+" - "+err.data.details})
        })
      }
    }
  }
</script>
