<template>
  <v-dialog
    v-model="$store.state.logoutModal"
    width="500"
  >
    <v-card>
      <v-card-title
        class="headline grey lighten-2"
        primary-title
      >
        Logging out
      </v-card-title>

      <v-card-text>
        Are you sure you want to logout from Bullean? We will certainly miss you soon :)
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="primary"
          flat
          @click="logout"
        >
          Confirm
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    data:()=>({
      dialog:false
    }),
    methods:{
      logout(){
        this.$store.commit("logout",this)
        this.$store.commit("triggerLogoutModal",this)
        this.$router.push("/")
        this.dialog=false
        this.$store.commit("displayAlert",{type:"success",message:"You have logged out successfully."})
      }
    }
  }
</script>
