<template>
  <div>
   <v-tabs
     light
     color="rgba(0,0,0,0)"
     slider-color="blue lighten-3"
   >
     <v-tab
       v-for="tab in tabs"
       :key="tab.key"
       ripple
     >
       <p class="font-weight-black title">{{ tab.name }}</p>
     </v-tab>
   </v-tabs>
 </div>
</template>

<script>
  export default {
    data:()=>({
      tabs:[
        {
          key:1,
          name:"头条"
        },
        {
          key:2,
          name:"访谈"
        },
        {
          key:3,
          name:"观点"
        }
      ]
    }),
  }
</script>
