<template>
  <v-navigation-drawer
    v-model="$store.state.drawer"
    absolute
    temporary
  >
    <v-list class="pa-1">
      <v-list-tile avatar>
        <v-list-tile-avatar color="indigo darken-2">
          <span class="white--text headline">{{user?shortName:"U"}}</span>
        </v-list-tile-avatar>

        <v-list-tile-content>
          <v-list-tile-title>{{user?(user.firstName+" "+user.lastName):"Guess"}}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>

    <v-list>
      <v-divider class="mb-3"></v-divider>

      <v-list-tile
        v-for="item in items"
        :key="item.title"
        @click="navigate(item.route)"
      >
        <v-list-tile-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile
        v-if="user"
        @click="$store.commit('triggerLogoutModal')"
      >
        <v-list-tile-action>
          <v-icon>exit_to_app</v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>Log out</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile
        v-if="!user"
        @click="$store.commit('triggerLoginModal')"
      >
        <v-list-tile-action>
          <v-icon>exit_to_app</v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>Login</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  export default{
    data () {
      return {
        drawer: null,
        items: [
          { title: 'Home', icon: 'dashboard',route:"/" },
          { title: 'Profile', icon: 'face' ,route:"/profile"},
          { title: 'Portfolio', icon: 'card_travel' ,route:"/portfolio"}
        ]
      }
    },
    computed:{
      user:function(){
        return this.$store.state.authState
      },
      shortName:function(){
        return this.user.firstName.substring(0,1)+ this.user.lastName.substring(0,1)
      }
    },
    methods:{
      navigate(route){
        console.log(route)
        if (this.user || route=="/")  return this.$router.push(route)
        return  this.$store.commit("displayAlert",{type:"error",message:"Please login first"})
      }
    }
  }
</script>
