<template>
  <v-layout  ml-2>
    <v-layout class="column">
      <v-layout class="row">
          <p class="ma-0 mr-5 body-2 font-weight-light fit">{{price.FROMSYMBOL +"/"+price.TOSYMBOL}}</p>
          <p class="ma-0 ml-5 font-weight-thin fit">{{price.PRICE.toFixed(4)}}</p>
      </v-layout>
      <v-layout class="row">
          <v-icon color="green darken-2" v-bind:style="{display:upOrDown?'inherit':'none'}">{{upOrDown?'expand_less':'expand_more'}}</v-icon>
          <v-icon color="red darken-2" v-bind:style="{display:upOrDown?'none':'inherit'}">{{upOrDown?'expand_less':'expand_more'}}</v-icon>
          <p class="ma-0 font-weight-light row-center headline"
            v-bind:class="{uptext:upOrDown,downtext:!upOrDown}"
          >{{priceChangePercentage}}%</p>
          <p class="ma-0 ml-3 font-weight-light" style="align-self:flex-end"
            v-bind:class="{uptext:upOrDown,downtext:!upOrDown}"
          >{{priceChange}}</p>
      </v-layout>
    </v-layout>
    <v-divider vertical light></v-divider>
  </v-layout>
</template>

<script>
  export default{
    props:['price'],
    computed:{
      priceChange:function(){
        return (this.price.PRICE-this.price.OPENDAY).toFixed(4)
      },
      upOrDown:function(){
        return (this.priceChange>0)
      },
      priceChangePercentage:function(){
        return (this.priceChange/this.price.OPENDAY*100).toFixed(4)
      }
    },
    created(){
    }
  }
</script>

<style>
  .row-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fit{
    height: fit-content;
  }

  .uptext{
    color:#00C853
  }

  .downtext{
    color:#d32f2f
  }
</style>
