<template>
  <v-toolbar app class="transparent" absolute
    scroll-off-screen dark
    :class="{'indigo accent-4':!isMain,'white-background':!isMain,'elevation-0':isMain}"
  >
    <v-toolbar-title class="headline text-uppercase">
      <v-btn fab dark flat small color="white" class="mt-0"
        @click="$store.commit('triggerSideMenu')"
      >
        <v-icon dark>menu</v-icon>
      </v-btn>
      <span>Bull</span>
      <span class="font-weight-light">ean</span>
    </v-toolbar-title>

    <v-spacer></v-spacer>

    <v-btn to="/" flat class="font-weight-thin">
      <span class="mr-2 subheading font-weight-light">Home</span>
    </v-btn>

    <v-btn  to="/news" flat>
      <span class="mr-2 subheading font-weight-light">News</span>
    </v-btn>

    <v-btn flat v-on:click.native="loginClick" v-if="!user">
      <span class="mr-2 subheading font-weight-light">Login</span>
    </v-btn>

  </v-toolbar>
</template>

<script>
/* eslint-disable */
  const ajax=require("../../utility/ajax.js")
  export default {
    props:{
      isMain:{
        type:Boolean,
        default:false
      }
    },
    methods:{
      loginClick(){
        this.$store.commit("triggerLoginModal")
      },
      logoutClick(){
        this.$store.commit("triggerLogoutModal")
      }
    },
    computed:{
      user:function(){
        if (this.$store.state.authState){
          return this.$store.state.authState
        }
        return null
      },
      loggedIn:function(){
        return (this.user?true:false)
      }
    },
    created(){
    }
  }
</script>

<style>
  .white-background{
    background-color: white !important;
  }
</style>
