<template>
  <v-app>
    <MenuBar v-if="!this.isHome"/>
    <v-content v-bind:class="{'ma-4':!isHome,'pt-0':isHome}">
      <router-view ></router-view>
      <LoginModal/>
      <LogoutModal/>
    </v-content>

    <!--Support Component-->
    <div class="loading-layer" v-if="this.$store.state.loading">
      <v-progress-circular class="absolute-center"
        :size="70"
        :width="7"
        color="primary"
        indeterminate
      ></v-progress-circular>
    </div>

    <transition name="slide-x-reverse-transition">
      <v-alert class="alert" v-show="$store.state.alert.value"
        :value="true"
        :type="$store.state.alert.type"
      >  {{this.$store.state.alert.message}}</v-alert>
    </transition>

    <Drawer/>

  </v-app>
</template>


<script>
/* eslint-disable */
import MenuBar from "./components/MenuBar/MenuBar"
import Footer from "./components/Footer"
import LoginModal from "./components/Modal/LoginModal"
import LogoutModal from "./components/Modal/LogoutModal"
import Drawer from "./components/MenuBar/Drawer"
export default {
  name: 'App',
  data:()=>({
    isSidebarStick:false,
    sideBarWidth:0,
  }),
  components: {
    MenuBar,Footer,LoginModal,
    LogoutModal,Drawer
  },
  computed:{
    isHome:function(){
      return this.$route.path==="/"
    }
  },
  created(){
    this.$store.commit("checkAuth",this.$root)
  }
}
</script>

<style lang="scss">
  @import './assets/css/style.css';
  $primary-color:"#304ffe";

  .loading-layer{
    width:100%;
    height:100%;
    position:absolute;
    background-color: rgba(0,0,0,.7);
    z-index: 999
  }
  .absolute-center{
    position:fixed;
    margin-right: 0;
    margin-left: 50%;
    margin-top: 20%;
    transform: translateX(-50%) translateY(-50%);
  }

  .alert{
    position:fixed;
    bottom:20px;
    right:20px;
    z-index: 999;
  }
</style>
